#gallery-content {padding-bottom: 112px;}
.nGY2 .nGY2GThumbnailImageTitle {margin: 3px 1px 10px; !important}
.nGY2 .nanoGalleryLBar {display: none;}
.nGY2 .nanoGalleryLBarOff {display: none;}
.nGY2Navigationbar .nGY2NavigationbarItem {margin: 5px 25px; !important}